*{
    box-sizing: border-box;
    font-family: monospace, 'Times New Roman', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
    margin-bottom: 10%;
}

main{
    height: 100%;
}

h1{
    font-size: 200%;
}

h2{
    font-size: 150%;
    text-align: center;
}
h3{
    font-size: 125%;
}
h4{
    font-size: 115%;
}

button{
    background-color: rgb(219, 166, 242);
    text-align: center;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

form h2{
    margin: 5%;
}

form label{
    margin: 5%;
}

form input{
    margin: 5%;
}

label{
    font-size: 110%;
    font-weight: bold;
}

button:hover{
    background-color: rgb(129, 129, 249);
}

.quiz-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.questions{
    flex-direction: column;
    justify-content: space-between;
    
}

.question-content{
    margin: 5%;
}

.answer-button{
    margin: 1%;
}

#start{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#start-button{
    margin-top: 2%;
}

#press-start-text{
    margin-top: 2%;
}

#initials-text{
    margin: 2%;
}

#initials-button{
    margin: 2%;
    background-color: rgb(219, 166, 242);
    text-align: center;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-weight: bold;
}

#score-1{
    margin: 5%;
}

#go-back{
    margin: 5%;
}

#clear-score{
    margin: 5%;
}